 {% block content %}
<h1>Healthy Food Tracker Page</h1>

<h5>Name:</h5>
<p>{{name}}</p>

<h5>Class:</h5>
<p>{{class}}</p>
<table>
  <tr>
    <th>Name</th>
    <th>Calories</th>
    <th>Description</th>
    <th>Date Added</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini
  {%endcomment %} {% for food in foods %}
  <tr>
    <td>{{food.name}}</td>
    <td>{{food.calories}}</td>
    <td>{{food.description}}</td>
    <td>{{food.date_added}}</td>
  </tr>
  {% endfor %}
</table>

<br />

<a href="{% url 'main:create_food' %}">
  <button>Add New Food</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}